PORT=YOUR_PORT
POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=YOUR_POSTGRES_DB
DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PORT
DB_SCHEMA=YOUR_DB_SCHEMA
DATABASE_URL=YOUR_DATABASE_URL
